/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

nav{
  height:30px
}

nav img{
  float:left;
  width:auto;
  height:25px
}

nav ul{float:right;
  margin-top:-2px

}
nav li{
  display: inline;
list-style-type: none;
margin:0px 10px
  
}

.main-section{
  background-image:url("../images/landing.jpg");
  background-size:cover;
  width:100%;
  height: 600px;
  text-align:center;
  float:clear;
  color:white;
  position:relative
}
.centering-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)}


.second-section{
  background-color:white;
  text-align:center;
  height:250px
}
.second-section h3{color:#00B172
  
}
.what-box{
  width:31%;
  margin:0px auto;
  float:left;
  padding:1%
}
.what-box img{
  width:100px;
  height:100px
}
.third-section{
  background-color:#00B172;
  height:500px;
  width:100%;
  color:white
}
.third-section p, .third-section h4{
  max-width:200px;
  margin-left:40px;
  
}
.third-section h3{
  margin-left:40px;
  padding-top:30px;
}
.third-section img[src="../images/spotify-app.png"]{
  float:right;
  position:relative;
  right:50px;
  margin-top:-100px;
  height:100px;
  width:auto
 
}
.third-section img[src="../images/spotify-icon-white.jpg"]{
  position:relative;
  left:45%;
  bottom:250px;
  height:50px;
  width:auto
  
 
 
}

